.header {
  grid-area: h;
  background-color: #293428;
  /* min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; */
}

.header img {
  width: 80px;
}

.loginBlock {
  float: right;
}

.loginBlock  a {
  color: white
}